@charset "UTF-8";

body
{
    /*added some font */
    font-family: 'Roboto Condensed', sans-serif;
    /*added some size for body */
    display: block;
    /*added some linear-gradient color for body section */
    background: linear-gradient(241deg, #f98cf8, #7e1fb6, #200864, #7e91a6, #d3dde5 );

}

form
{
    /*Best settings and adjustments for form section */
    background-color: #000000;
    max-width: 700px;
    display: block;
    margin: 20px auto;
    padding: 20px 100px 20px 100px;
    border-radius: 25px;
    color:orange;
    
}
form h5
{
    /*text color for section */
    color: orange;
}
input, select
{
    /*Best settings and adjustments for input of form section */
    width:100%;
    line-height: 32px;
}
form h2{
    /*Best settings and adjustments for input of form section */
    text-align:center;
}
.top{
    /*Best settings and adjustments for input of form section */
    background:#f7f7f7;
}
.middle{
    /*Best settings and adjustments for input of form section */
    background: black;
    color:#fff;
}
.Nameofpage
{
    /*Best settings and adjustments for name of page section */
    background-color: rgb(255, 255, 255);
    text-align:center;
    max-width: 60%;
    display: block;
    margin: 10px auto;
    padding: 0px 50px 0px 20px;
    border-radius: 70px;  
    height: auto;
}
.bttn 
{
    /*Best settings and adjustments for the botten of the "name of page" section */
    border: none;
    background-color: inherit;
    max-width: 100px;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    border-radius: 20px; 
}
.boxxer:hover 
{
    /* button hover of the "name of page" section and its best settings and adjustments */
    background: linear-gradient(241deg,#ff00fb, #7e1fb6, #7e91a6, #d3dde5)
}

.Information
{
    /*Best settings and adjustments for the "Information" section */
    background: linear-gradient(241deg, #c57dc4, #7e91a6, #d3dde5 );
    text-align:center;
    max-width: 90%;
    margin: 20px auto;
    padding: 20px 20px 20px 20px;
    border-radius: 30px;
    height: auto;
}

.letmeknow
{
    /*Best settings and adjustments for footer*/
    background-color: white;
    text-align:center;
    max-width: 80%;
    margin: 20px auto;
    padding: 20px 0px 20px 0px;
    border-radius: 70px;
    height: auto;
}

#letmeknow h3,h5
{
    /*text color for footer*/
    color: rgb(12, 12, 12);
}
.submit 
{
    /*Best settings and adjustments for submit button*/
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}
.btn:hover {background: rgb(226, 39, 14);} /*background color for button*/
.btn {color: white;}  /*text color for button*/
   

